{{extend 'layout.html'}}
{{block header}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var getHaircutsUrl = "{{=URL('api', 'get_all_haircuts')}}";
    var getAppointmentsUrl = "{{=URL('api', 'get_appointments')}}"
</script>
{{end}}

<div id="app">
    <div v-if="home_page">
        <div class="container padded center">
            <h1>Welcome to J&R Barber Shop</h1>
            <img src="{{=URL('static', '138.jpg')}}" style="width: 500px; height: 500px"/>
            <br>
            <button>Haircuts</button> <button v-on:click="redirect_barber_page()">Barbers</button> <button>Appointments</button>
        </div>

    </div>
    <div v-if="barber_page">
        <div class="container padded center">
            <h1>Our Barbers</h1>
            <div class="quarter">
                <img src="{{=URL('static', 'image.jpeg')}}" style="width: 100px; height: 100px"/>
                <p>hello</p>
            </div>
            <div class="quarter">
                <img src="{{=URL('static', 'image.jpeg')}}" style="width: 100px; height: 100px"/>
                <p>hi</p>
            </div>
            <button v-on:click="redirect_home_page()">Home</button> <button>Haircuts</button> <button>Appointments</button>
        </div>
    </div>
    <div v-if="haircut_page">
        <img src="{{=URL('static', 'haircut_pictures/haircut1.png')}}" />
    </div>


    <script src="{{=URL('static', 'js/default_index.js')}}"></script>
</div>

<!--
    Dropdown menus
    <select>
        <option>First option</option>
    </select>


    <select>
        <option v-for="time in vueObject>time.timeslot></option>
    </select>

-->